/*
# Color Palette
    Black -> #303a52
    White -> #fff
    Primary -> #226089
*/
/*
*/
/*
*/
/*
*/
/* ------------------------------- */
/* ---------- UNIVERSAL ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #303a52;
}
/* ---------- UNIVERSAL ---------- */
/* ------------------------------- */
