/* ---------------------------- */
/* ---------- HEADER ---------- */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
  padding: 4.8rem 9.6rem;
}

.header__logo-image {
  height: 7.4rem;
}

.header__navigation-lists {
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
}

.header__navigation-list {
  list-style: none;
}

.header__navigation-link:link,
.header__navigation-link:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  color: #a8c6d9;
  transition: all 0.3s;
}

.header__navigation-link:hover,
.header__navigation-link:active {
  color: #226089;
}

.header__navigation-link.header__navigation-link-active {
  color: #226089;
}

.button,
.sidebar {
  display: none;
}
/* ---------- HEADER ---------- */
/* ---------------------------- */
/*
*/
/*
*/
/*
*/
/* ---------------------------- */
/* ---------- FOOTER ---------- */
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  padding: 4.8rem 9.6rem;
}

.footer__email {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.8rem;
}

.footer__email-link:link,
.footer__email-link:visited {
  text-decoration: none;
  color: #303a52;
}

.footer__social-box {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.footer__social-image {
  height: 1.6rem;
}
/* ---------- FOOTER ---------- */
/* ---------------------------- */
/*
*/
/*
*/
/*
*/
/* ----------------------------- */
/* ---------- GALLERY ---------- */
.gallery__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.gallery__preview-box {
  position: relative;
}

.gallery__image-link {
  position: relative;
  background-color: #000;
  display: block;
  overflow: hidden;
  padding-top: 100%;
  width: 100%;
}

.gallery__image {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  inset: 0;
  transition: all 0.3s;
}

.gallery__information-link:link,
.gallery__information-link:visited {
  position: absolute;
  text-decoration: none;
  display: block;
  color: #fff;
  padding: 10% 10%;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.3s;
}

.gallery__title {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.8rem;
}

.gallery__description {
  font-size: 1.4rem;
  font-weight: 500;
}

.gallery__preview-box:hover .gallery__information-link {
  opacity: 1;
}

.gallery__preview-box:hover .gallery__image {
  opacity: 0.5;
  transform: scale(1.2);
}
/* ---------- GALLERY ---------- */
/* ----------------------------- */
/*
*/
/*
*/
/*
*/
/* ------------------------------- */
/* ---------- PORTFOLIO ---------- */
.portfolio {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2.4rem 3.2rem;
}

.portfolio__container {
  display: grid;
  grid-template-columns: 1fr 30rem;
  column-gap: 4.8rem;
  row-gap: 4.8rem;
}

.portfolio__back-link:link,
.portfolio__back-link:visited {
  grid-column: 1 / -1;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #226089;
  transition: all 0.3s;
}

.portfolio__back-link:hover,
.portfolio__back-link:active {
  color: #184360;
}

.portfolio__title-01 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4;
  color: #226089;
  margin-bottom: 2rem;
}

.portfolio__description-01 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8;
}

.portfolio__detail-boxes {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.portfolio__title-02 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #a8c6d9;
  margin-bottom: 0.8rem;
}

.portfolio__description-02 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4;
  color: #226089;
}

.portfolio__image-boxes {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
}

.portfolio__image-box {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.portfolio__image {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  inset: 0;
  border-radius: 6px;
}
/* ---------- PORTFOLIO ---------- */
/* ------------------------------- */
/*
*/
/*
*/
/*
*/
/* -------------------------- */
/* ---------- HERO ---------- */
.hero {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  padding-top: 2.4rem;
}

.hero__container {
  height: calc(100vh - 17.2rem);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 4.8rem;
}

.hero__image {
  position: fixed;
  height: 100%;
  z-index: -1;
  top: 0;
  right: 50%;
}

.hero__information-box {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.hero__author-title-small {
  text-transform: uppercase;
  color: #226089;
  font-size: 2rem;
  font-weight: 700;
}

.hero__author-title-big {
  text-transform: uppercase;
  color: #226089;
  font-size: 3.6rem;
  font-weight: 700;
}

.hero__author-description {
  display: inline;
  font-size: 1.4rem;
  line-height: 2.2;
}

.hero__client,
.hero__client-description {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 2.2;
}

.hero__client-box {
  position: relative;
  display: inline-block;
}

.hero__client {
  font-weight: 600;
  color: #226089;
}

.hero__client-box .hero__client::after {
  position: absolute;
  background-color: #226089;
  content: "";
  height: 0.3rem;
  width: 0;
  bottom: 0.3rem;
  left: 0;
  transition: width 0.5s;
}

.hero__client-box:hover .hero__client::after {
  width: 50%;
}

.hero__testimonial-box {
  position: relative;
  padding-bottom: 2.4rem;
}

.hero__testimonial-title {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 2.4rem;
  color: #a8c6d9;
}

.hero__testimonial-description {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  font-style: italic;
  margin-bottom: 1.6rem;
}

.hero__testimonial-image {
  position: absolute;
  width: 50px;
  top: 25px;
  left: -15px;
}

.hero__testimonial-dots {
  display: flex;
  gap: 0.8rem;
}

.hero__testimonial-dot {
  background-color: #a8c6d9;
  cursor: pointer;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  transition: all 0.3s;
}

.hero__testimonial-dot:hover {
  background-color: #226089;
}

.hero__testimonial-dot-active {
  background-color: #226089;
}
/* ---------- HERO ---------- */
/* -------------------------- */
/*
*/
/*
*/
/*
*/
/* ---------------- */
/* ----- CARD ----- */
.card {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2.4rem 3.2rem;
}

.card__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.6rem;
  row-gap: 6.2rem;
}

.card__image-box {
  position: relative;
  padding-top: 100%;
  width: 100%;
  margin-bottom: 1.6rem;
}

.card__image1 {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  inset: 0;
}

.card__image2 {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  inset: 0;
  opacity: 0;
  transition: all 0.5s;
}

.card__image-box:hover .card__image2 {
  opacity: 1;
}

.card__information-box {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
}

.card__title {
  color: #226089;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.4;
  padding-top: 0.4rem;
}

.card__download-button-link {
  display: block;
  align-self: flex-start;
  background-color: #226089;
  padding: 1.2rem;
  border-radius: 2px;
  transition: all 0.2s;
}

.card__download-button-link:hover {
  background-color: #184360;
}

.card__download-button-image {
  height: 3rem;
  width: 3rem;
}
/* ----- CARD ----- */
/* ---------------- */
/*
*/
/*
*/
/*
*/
/* --------------- */
/* ----- CTA ----- */
.cta {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  padding-top: 2.4rem;
}

.cta__container {
  height: calc(100vh - 17.2rem);
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
}

.cta__information-boxes {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.cta__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.6rem;
  color: #a8c6d9;
  margin-bottom: 0.8rem;
}

.cta__description {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.6rem;
  color: #226089;
  transition: all 0.2s;
}

.cta__description:hover {
  color: #184360;
}

.cta__description-link:link,
.cta__description-link:visited {
  text-decoration: none;
  color: #226089;
  transition: all 0.2s;
}

.cta__description-link:hover,
.cta__description-link:active {
  color: #184360;
}

.cta__social-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2.4rem;
}

.cta__social-link {
  display: block;
}

#cta__social-image-svg {
  height: 2rem;
}

.cta__social-image-svg1,
.cta__social-image-svg2 {
  transition: all 0.2s;
}

.cta__social-link:hover .cta__social-image-svg1 {
  fill: #184360;
}

.cta__social-link:hover .cta__social-image-svg2 {
  fill: #184360;
  stroke: #184360;
}
/* ----- CTA ----- */
/* --------------- */
